@import url(https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap);



header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    z-index: 99;
    /* background-color: rgb(233, 236, 223); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.848),rgba(255, 255, 255, 0.75)), url(https://images.photowall.com/products/49641/fresh-green-grass.jpg?h=699&q=85);
    background-size: stretch;
    ;
    
}

#headerImgLogo{
    max-height: 13rem;
    border-radius: 50%;
    border: 5px solid rgb(219, 49, 77);
    margin-top: 1rem;
    margin-left: 10rem;
   
}

#storeNameAndSearchBar{
    
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
}

#tagline{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 4%;
}

#thanksMessage{
    color: white;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}

#searchBox{
    text-align: center;
   
}

#searchButton{
    border: 2px solid rgb(219, 49, 77);
}

#searchInput{
    border: 2px solid rgb(219, 49, 77);
}

#storeInfo{
    text-align: right;
    color: rgb(219, 49, 77);
    font-weight: 400;
    margin-right: 5rem;
    font-family: 'Mochiy Pop One', sans-serif;
}

#headerLinks{
    display: inline-flex;
    float: right;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 15px;
}


nav{
    position: sticky; top: 0;
    background-color: rgb(219, 49, 77);
    opacity: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}

/* --------- ADDING CARDS TO THE P TAGS TO ADD BACKGROUND  ------*/


body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.847),rgba(255, 255, 255, 0.5)) , url(https://wallpaperaccess.com/full/569871.jpg); background-size: cover; background-attachment: fixed; 

}

.shop-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 3rem; */
    column-gap: 3rem;
    row-gap: 5rem;
    font-family: 'Mochiy Pop One', sans-serif;
    
   
}
.product{
  
    display: grid;
    border: 5px solid rgb(147, 88, 97);
    border-radius: 3%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.848),rgba(255, 255, 255, 0.75)) 
    
    
}
h4{
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.imgShopBorder{
    border: 3px solid rgb(147, 88, 97);
}
.descriptionText{
    margin: 3%;
    /* font-weight: ; */
}

.cartButton{
    border: 5px solid white;
    color: white;
    background-color: rgb(219, 49, 77);
    margin: 3%;
    
    
}

.cartButton:hover{
    border: 5px solid rgb(219, 49, 77);
    color: rgb(219, 49, 77);
    background-color: white;
    margin: 3%;
    
    
}

.learnMoreButton{
    border: 5px solid white;
    color: white;
    background-color: rgb(219, 49, 77);
    margin: 3%;
    
}

.learnMoreButton:hover{
    border: 5px solid rgb(219, 49, 77);
    color: rgb(219, 49, 77);
    background-color: white;
    margin: 3%;
    
    
}


/* ---------- FOOTER ------------ */

.footer{
    background-color: rgb(219, 49, 77);
    opacity: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 12%;
    padding-right: 12%;
   
}


.footerLinks{
    color: white;
    font-size: 16px;
}


#about-us{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#shop-online{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#our-services{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#social-links{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-brands{
    font-size: 25px;
}
.fa-regular{
    font-size: 25px;
}


/* ______________ CSS FOR JAVASCRIPT BELOW ________________ */


img{
    width: 100%;
    
    height: auto;
    
    /* max-height: 100%; */
}




